.nobiiru-kagoshima-studio-site-by-html-to {
  background-color: var(--white);
}
.div-seventy-four {
  width: 100%;
  height: calc(100% - 0.010000000000218px);
  background-color: var(--white);
  padding: 0 0 0.01px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.div-three {
  background-color: var(--white);
  padding: 0 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  padding: 30px 550.25px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-wrapper-one {
  background-size: 100% 100%;
  background-position: center;
  background-image: url("https://via.placeholder.com/268.8x76.58");
  margin-bottom: 7px;
  padding: 67.58px 101.69px 4px 101.89px;
  display: flex;
  align-items: flex-start;
}
. {
  height: 5px;
  width: 65.22px;
  font-family: "Inter";
  font-size: 5px;
  font-weight: 400;
  line-height: 7px;
  color: var(--black);
  display: flex;
  align-items: center;
  text-align: center;
}
.nav {
  position: relative;
}
.a {
  padding: 0 0.67px 2.39px 0;
  position: absolute;
  left: 10px;
  top: calc(50% - 23px / 2);
}
. {
  font-family: "Inter";
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  color: var(--black);
  letter-spacing: 1.6px;
}
. {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: var(--black);
  position: absolute;
  left: 145.67px;
  top: -1px;
  letter-spacing: 1.6px;
}
. {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: var(--black);
  position: absolute;
  left: 235.97px;
  top: -1px;
  letter-spacing: 1.6px;
}
. {
  font-family: "Inter";
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  color: var(--black);
  position: absolute;
  left: 343.05px;
  top: -1px;
  letter-spacing: 1.6px;
}
. {
  font-family: "Inter";
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  color: var(--black);
  position: absolute;
  left: 465.33px;
  top: -1px;
  letter-spacing: 1.6px;
}
. {
  font-family: "Inter";
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  color: var(--black);
  position: absolute;
  left: 707.34px;
  top: -1px;
  letter-spacing: 1.6px;
}
.div-two {
  background-size: 100% 100%;
  background-position: center;
  background-image: url("https://via.placeholder.com/1820x882.03");
  border-radius: 4px;
  padding: 201.89px 910px 201.91px 0;
  display: flex;
  align-items: center;
}
.div {
  background-color: rgba(255, 255, 255, 0.28);
  padding: 0 161px;
  display: flex;
  align-items: flex-start;
}
.s-600x488-v-fs-webp-c7f8ef6d-6e27-46ac-9 {
  width: 588px;
  height: 478.23px;
}
.main {
  margin-bottom: 80px;
  padding: 1545.05px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.sectionshisetsu {
  padding: 100px 460px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.flex-wrapper-two {
  margin-bottom: 40px;
  display: flex;
  align-items: flex-start;
}
.pseudo {
  width: 296px;
  height: 300px;
  margin-right: 164px;
}
.flex-wrapper-three {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.flex-wrapper-four {
  margin-bottom: 40px;
  padding: 0 0 0 80.5px;
  display: flex;
  align-items: flex-start;
}
.h2 {
  margin-right: 72.5px;
  padding: 0 12.89px 0 11.91px;
  display: flex;
  align-items: flex-start;
}
. {
  height: 92.41px;
  width: 22.2px;
  font-family: "Inter";
  font-size: 15px;
  font-weight: 500;
  line-height: 31px;
  color: var(--black);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 1.1px;
}
.div-five {
  margin-top: 42.41px;
  padding: 93.75px 163.32px 30.39px 0;
  position: relative;
}
.div-four {
  padding: 0 0 0.75px;
  display: flex;
  align-items: flex-start;
  position: absolute;
  left: -10px;
  top: calc(50% - 62px / 2);
}
. {
  font-family: "Noto Sans JP";
  font-size: 32px;
  font-weight: 500;
  line-height: 62px;
  color: var(--black);
  letter-spacing: 3.84px;
}
.pseudo-two {
  width: 76px;
  height: 32px;
  margin-top: 15.88px;
}
. {
  height: 16px;
  width: 436.68px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: var(--black);
  display: flex;
  align-items: center;
  letter-spacing: 0.8px;
}
.div-twenty-three {
  padding: 0 90.47px 40px 90.45px;
  display: flex;
  align-items: flex-start;
}
.div-seventeen {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 320px;
  height: 337.56px;
}
. {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(51, 51, 51, 1);
  text-align: center;
  margin-left: 7px;
}
.div-six {
  padding: 21.39px 5.45px 45.17px 5px;
  position: relative;
}
.num-890-0012 {
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(51, 51, 51, 1);
  text-align: center;
  position: absolute;
  left: 0;
  top: -1px;
}
.num-320-1 {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(51, 51, 51, 1);
  text-align: center;
  position: relative;
}
.tel-fax-099-295-6883 {
  font-family: "Inter";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(51, 51, 51, 1);
  text-align: center;
  position: absolute;
  left: 3px;
  top: 43.78px;
}
.email-nobiiru117-com {
  font-family: "Inter";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(51, 51, 51, 1);
  text-align: center;
  position: absolute;
  left: 1px;
  top: 66.17px;
}
.body {
  height: calc(100% - 157.56px);
  background-color: rgba(128, 128, 128, 1);
  display: flex;
  align-items: flex-start;
}
.div-sixteen {
  background-color: rgba(229, 227, 223, 1);
  display: flex;
  align-items: flex-start;
  flex: 1;
  align-self: stretch;
}
.div-fifteen {
  padding: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  align-self: stretch;
}
.flex-wrapper-five {
  margin-bottom: 104.16px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 29px;
  width: 147px;
}
.div-seven {
  background-color: var(--white);
  overflow: hidden;
  border-radius: 2px;
  padding: 7px 14.8px 8px 15px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
}
. {
  height: 14px;
  width: 84.48px;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  color: var(--dodger-blue);
  display: flex;
  align-items: center;
}
.div-eight {
  width: calc(100% - 146px);
  height: calc(100% - 28px);
  margin-top: 16px;
  position: relative;
}
.vt {
  width: 256px;
  height: 256px;
  position: absolute;
  left: 0;
  top: -256px;
}
.vt-two {
  width: 256px;
  height: 256px;
  position: absolute;
  left: -256px;
  top: -256px;
}
.vt-three {
  width: 256px;
  height: 256px;
  position: absolute;
  left: 0;
  bottom: -255px;
}
.vt-four {
  width: 256px;
  height: 256px;
  position: absolute;
  left: -256px;
  bottom: -255px;
}
.image-two {
  margin-bottom: 1px;
  margin-left: 124px;
  padding: 0 0.02px 0 0.01px;
  display: flex;
  align-items: flex-start;
}
.image {
  padding: 2.97px 2.08px 2.9px 2.41px;
  position: relative;
}
.group {
  width: 47.48px;
  height: 15.97px;
  position: relative;
}
.vector {
  width: 21.59%;
  height: 52.75%;
  position: absolute;
  left: 2.97px;
  top: 3.54px;
}
.vector-two {
  width: 14.07%;
  height: 33.93%;
  position: absolute;
  left: 15.07px;
  bottom: 6.79px;
}
.vector-three {
  width: 14.07%;
  height: 33.93%;
  position: absolute;
  right: 21.4px;
  bottom: 6.79px;
}
.vector-four {
  width: 13.68%;
  height: 49.18%;
  position: absolute;
  right: 13.4px;
  bottom: 3.47px;
}
.vector-five {
  width: 3.14%;
  height: 49.91%;
  background-color: rgba(52, 168, 83, 1);
  position: absolute;
  right: 10.55px;
  top: 3.93px;
}
.vector-six {
  width: 13.07%;
  height: 33.93%;
  position: absolute;
  right: 2.81px;
  bottom: 6.79px;
}
.div-fourteen {
  width: calc(100% - 21.56px);
  height: calc(100% - 156px);
  margin-left: 21.56px;
  display: flex;
  align-items: flex-start;
}
.div-ten {
  padding: 0 0 0 1px;
  position: relative;
}
.div-nine {
  width: 27px;
  height: 100%;
  background-color: var(--white-smoke);
  opacity: 0.7;
  position: relative;
}
.vector-seven {
  width: 57.14%;
  height: 71.43%;
  position: absolute;
  left: 6px;
  bottom: 1.55px;
}
.div-eleven {
  width: 94.27px;
  height: 100%;
  background-color: var(--white-smoke);
  opacity: 0.7;
  position: relative;
}
.num-2023 {
  height: 11px;
  width: 83.47px;
  font-family: "Roboto";
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  color: var(--black);
  display: flex;
  align-items: center;
  text-align: right;
  position: absolute;
  left: 6px;
  top: 1.09px;
}
.div-twelve {
  width: 51px;
  height: 100%;
  background-color: var(--white-smoke);
  opacity: 0.7;
  position: relative;
}
. {
  height: 11px;
  width: 40.2px;
  font-family: "Roboto";
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  color: var(--black);
  display: flex;
  align-items: center;
  text-align: right;
  position: absolute;
  left: 6px;
  top: 1.09px;
}
.div-thirteen {
  width: 112.17px;
  height: 100%;
  background-color: var(--white-smoke);
  opacity: 0.7;
  position: relative;
}
. {
  height: 11px;
  width: 101.37px;
  font-family: "Roboto";
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  color: var(--black);
  display: flex;
  align-items: center;
  text-align: right;
  position: absolute;
  left: 6px;
  top: 1.09px;
}
.div-twenty-two {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 339.08px;
  height: 337.56px;
}
.div-eighteen {
  padding: 21.39px 5.08px 45.17px 4px;
  position: relative;
}
.tel-fax-099-203-0733 {
  font-family: "Inter";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(51, 51, 51, 1);
  text-align: center;
  position: absolute;
  left: 2px;
  top: 43.78px;
}
.email-nobiiru115-com {
  font-family: "Inter";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(51, 51, 51, 1);
  text-align: center;
  position: absolute;
  left: 2px;
  top: 66.17px;
}
.div-twenty-one {
  padding: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  align-self: stretch;
  position: relative;
}
.div-nineteen {
  background-color: var(--white);
  margin-bottom: 104.16px;
  overflow: hidden;
  border-radius: 2px;
  padding: 7px 14.8px 8px 15px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
}
.div-twenty {
  width: calc(100% - 319px);
  height: calc(100% - 179px);
  position: absolute;
  left: -48px;
  top: -117px;
}
.vt-five {
  width: 256px;
  height: 256px;
  position: absolute;
  right: -255px;
  bottom: -511px;
}
.vt-six {
  width: 256px;
  height: 256px;
  position: absolute;
  right: -511px;
  bottom: -511px;
}
.vt-seven {
  width: 256px;
  height: 256px;
  position: absolute;
  right: -255px;
  bottom: -255px;
}
.vt-eight {
  width: 256px;
  height: 256px;
  position: absolute;
  right: -511px;
  bottom: -255px;
}
.a-two {
  margin-left: 920.02px;
  padding: 23px 0 0.39px;
  position: relative;
}
.expand-less {
  font-family: "Material Icons";
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(24, 147, 79, 1);
  position: absolute;
  left: 28px;
  top: 0;
}
.top {
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(51, 51, 51, 1);
  text-align: center;
  position: relative;
}
.sectionactivity {
  background-color: var(--white);
  margin-bottom: 40px;
  padding: 48px 0 40px 540.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.h2-two {
  margin-top: 38px;
  margin-right: 72.5px;
  padding: 0 12.89px 0 11.91px;
  display: flex;
  align-items: flex-start;
}
. {
  height: 115.5px;
  width: 22.2px;
  font-family: "Inter";
  font-size: 15px;
  font-weight: 500;
  line-height: 31px;
  color: var(--black);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 1.1px;
}
.div-twenty-five {
  margin-top: 103.5px;
  margin-right: 368px;
  position: relative;
}
.div-twenty-four {
  padding: 0 0 0.75px;
  position: absolute;
  left: 0;
  top: calc(50% - 62px / 2);
}
. {
  font-family: "Noto Sans JP";
  font-size: 32px;
  font-weight: 500;
  line-height: 62px;
  color: var(--black);
  position: relative;
  letter-spacing: 3.84px;
}
.pseudo-three {
  width: 51px;
  height: 22px;
  position: absolute;
  right: -43.41px;
  bottom: 19.87px;
}
. {
  max-width: 600.2px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  color: var(--black);
  position: absolute;
  left: 0;
  top: 77.75px;
  letter-spacing: 0.8px;
}
.pseudo-four {
  width: 292px;
  height: 338px;
}
.div-thirty-one {
  margin-bottom: 40px;
  margin-left: 19.5px;
  padding: 0 536px 0 0;
  position: relative;
}
.num-01 {
  width: 264px;
  height: 436px;
}
.div-thirty {
  padding: 0 15px 248px 0;
  display: flex;
  align-items: flex-start;
  position: absolute;
  left: 274px;
  top: calc(50% - 188px / 2);
}
.div-twenty-six {
  display: flex;
  align-items: flex-start;
}
.num-02 {
  width: 256px;
  height: 188px;
  margin-right: 10px;
}
.num-03 {
  width: 266px;
  height: 188px;
}
.div-twenty-nine {
  width: calc(100% - 15px);
  padding: 0 7.5px;
  display: flex;
  align-items: flex-start;
  position: absolute;
  left: 0;
  bottom: -12px;
}
.div-twenty-eight {
  padding: 0 10px 0 0;
  display: flex;
  align-items: flex-start;
}
.div-twenty-seven {
  background-color: rgba(238, 238, 238, 1);
  margin-right: 10px;
  display: flex;
  align-items: flex-start;
}
.num-04 {
  width: 180px;
  height: 240px;
}
.num-05 {
  width: 172px;
  height: 240px;
}
.num-06 {
  width: 160px;
  height: 120px;
}
.num-06:not(:last-of-type) {
  margin-bottom: 10px;
}
.div-thirty-two {
  margin-left: 19.5px;
  padding: 0 177px;
  display: flex;
  align-items: center;
}
.a-three {
  margin-right: 40px;
  border-radius: 16px;
  padding: 5.2px 22.88px 5.8px 23.09px;
  display: flex;
  align-items: center;
  border: 1px solid var(--black);
}
. {
  height: 17px;
  width: 74.03px;
  font-family: "Rubik";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--black);
  font-style: italic;
  display: flex;
  align-items: center;
  letter-spacing: 0.7px;
}
.a-four {
  margin-right: 40px;
  border-radius: 16px;
  padding: 5.2px 26.76px 5.8px 26.95px;
  display: flex;
  align-items: center;
  border: 1px solid var(--black);
}
.num-1 {
  height: 17px;
  width: 66.29px;
  font-family: "Rubik";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--black);
  font-style: italic;
  display: flex;
  align-items: center;
  letter-spacing: 0.7px;
}
.a-five {
  border-radius: 16px;
  padding: 5.2px 30.4px 5.8px 30.59px;
  display: flex;
  align-items: center;
  border: 1px solid var(--black);
}
. {
  height: 17px;
  width: 59.01px;
  font-family: "Rubik";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--black);
  font-style: italic;
  display: flex;
  align-items: center;
  letter-spacing: 0.7px;
}
.a-six {
  padding: 23px 0 0.39px;
  position: relative;
}
.sectionflow {
  padding: 313.5px 96px 269.06px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.div-thirty-seven {
  padding: 0 297px 30px;
  display: flex;
  align-items: flex-start;
}
.div-thirty-three {
  background: linear-gradient(
      rgba(251, 255, 228, 1),
      rgba(251, 255, 228, 1)
    ),
    url("https://via.placeholder.com/238x240");
  background-size: 100% 100%;
  background-position: center;
  border-radius: 8px;
  padding: 30px 20px 36.06px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p {
  margin-bottom: 19px;
  padding: 0 0.14px 0 1px;
  display: flex;
  align-items: flex-start;
}
.num-1-two {
  font-family: "Noto Sans JP";
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(51, 51, 51, 1);
  text-align: center;
}
.p-two {
  padding: 0 1.8px 0.94px 0;
  display: flex;
  align-items: flex-start;
}
. {
  max-width: 196.2px;
  font-family: "Noto Sans JP";
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  color: rgba(51, 51, 51, 1);
}
.pseudo-five {
  width: 44px;
  height: 240px;
}
.div-thirty-four {
  background: linear-gradient(
      rgba(252, 255, 237, 1),
      rgba(252, 255, 237, 1)
    ),
    url("https://via.placeholder.com/240x299.5");
  background-size: 100% 100%;
  background-position: center;
  border-radius: 8px;
  padding: 29px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.num-2 {
  height: 29px;
  width: 162.34px;
  font-family: "Noto Sans JP";
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(51, 51, 51, 1);
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 19px;
}
.p-three {
  padding: 0 3.8px 0.5px 0;
  display: flex;
  align-items: flex-start;
}
.div-thirty-five {
  background: linear-gradient(
      rgba(251, 255, 228, 1),
      rgba(251, 255, 228, 1)
    ),
    url("https://via.placeholder.com/240x240");
  background-size: 100% 100%;
  background-position: center;
  border-radius: 8px;
  padding: 30px 23.66px 39.25px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.p-four {
  margin-bottom: 22px;
  margin-left: 38.92px;
  padding: 0 0.14px 0 1px;
  display: flex;
  align-items: flex-start;
}
. {
  height: 120.75px;
  width: 196.34px;
  font-family: "Noto Sans JP";
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  color: rgba(51, 51, 51, 1);
  display: flex;
  align-items: center;
}
.div-thirty-six {
  background: linear-gradient(
      rgba(251, 255, 228, 1),
      rgba(251, 255, 228, 1)
    ),
    url("https://via.placeholder.com/240x240");
  background-size: 100% 100%;
  background-position: center;
  border-radius: 8px;
  padding: 30px 23.8px 64.44px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.p-five {
  margin-bottom: 22px;
  margin-left: 8.92px;
  padding: 0 0.14px 0 1px;
  display: flex;
  align-items: flex-start;
}
. {
  height: 95.56px;
  width: 196.2px;
  font-family: "Noto Sans JP";
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  color: rgba(51, 51, 51, 1);
  display: flex;
  align-items: center;
}
.num-02-two {
  width: 180px;
  height: 130.94px;
  margin-left: 1548px;
}
.relative-wrapper-two {
  display: flex;
  align-items: flex-start;
  position: absolute;
  left: 370px;
  top: -98.25px;
}
. {
  width: 1230px;
  height: 252px;
  position: relative;
}
.h2-three {
  padding: 0 12.89px 0 11.91px;
  display: flex;
  align-items: flex-start;
  position: absolute;
  left: 170.5px;
  top: calc(50% - 138.61px / 2);
}
. {
  height: 138.61px;
  width: 22.2px;
  font-family: "Inter";
  font-size: 15px;
  font-weight: 500;
  line-height: 31px;
  color: var(--black);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 1.1px;
}
.div-thirty-nine {
  padding: 84.75px 45.55px 30.39px 0;
  display: flex;
  align-items: flex-start;
  position: absolute;
  left: calc(50% - 554.45px / 2);
  bottom: -119.75px;
}
.div-thirty-eight {
  padding: 0 45.27px 0.75px 0;
  display: flex;
  align-items: flex-start;
  position: absolute;
  left: 0;
  top: calc(50% - 62px / 2);
}
.pseudo-six {
  width: 51px;
  height: 22px;
  position: absolute;
  right: 0;
  bottom: 19.87px;
}
. {
  height: 16px;
  width: 554.45px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: var(--black);
  display: flex;
  align-items: center;
  letter-spacing: 0.8px;
}
.sectionmessage {
  padding: 100px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  left: calc(50% - 1920px / 2);
  top: -38px;
}
.flex-wrapper-seven {
  padding: 0 0 0 540.5px;
  display: flex;
  align-items: flex-start;
}
.h2-four {
  margin-top: 6px;
  margin-right: 72.5px;
  padding: 0 12.89px 0 11.91px;
  display: flex;
  align-items: flex-start;
}
. {
  height: 161.7px;
  width: 22.2px;
  font-family: "Inter";
  font-size: 15px;
  font-weight: 500;
  line-height: 31px;
  color: var(--black);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 1.1px;
}
.div-forty {
  margin-top: 67.7px;
  margin-right: 103.2px;
  padding: 0 0 346.52px;
  position: relative;
}
.h3 {
  width: 524px;
  height: 55.03px;
  position: relative;
}
. {
  height: 46px;
  width: 533.95px;
  font-family: "Noto Sans JP";
  font-size: 32px;
  font-weight: 500;
  line-height: 55px;
  color: var(--black);
  display: flex;
  align-items: center;
  position: absolute;
  right: -9.95px;
  top: 4px;
  letter-spacing: 3.84px;
}
.pseudo-seven {
  width: 76px;
  height: 32px;
  margin-top: 11.52px;
}
.num-618 {
  max-width: 600.2px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  color: var(--black);
  position: absolute;
  left: 0;
  top: 80.03px;
}
. {
  width: 556.8px;
  height: 406px;
}
.div-fifty {
  background-size: 100% 100%;
  background-position: center;
  background-image: url("https://via.placeholder.com/1920x806.8");
  margin-bottom: 10px;
  padding: 80px 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.relative-wrapper-one {
  margin-bottom: 84.8px;
  position: relative;
}
.logo-top {
  width: 100px;
  height: 72px;
  position: relative;
}
. {
  height: 46px;
  width: 153.81px;
  font-family: "Noto Sans JP";
  font-size: 32px;
  font-weight: 500;
  line-height: 45px;
  color: rgba(51, 51, 51, 1);
  display: flex;
  align-items: center;
  text-align: center;
  position: absolute;
  right: -27px;
  bottom: -45px;
  letter-spacing: 6.4px;
}
.div-forty-nine {
  padding: 20px 25px 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.div-forty-two {
  background-color: var(--white);
  margin-right: 40px;
  padding: 20px 20px 51px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
. {
  height: 24px;
  width: 24.22px;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(24, 147, 79, 1);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.div-forty-one {
  margin-bottom: 9px;
  padding: 0 5.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h4 {
  background-color: rgba(251, 255, 228, 1);
  height: 28px;
  width: 239px;
  position: relative;
}
. {
  height: 29px;
  width: 239.2px;
  font-family: "Noto Sans JP";
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: var(--black);
  display: flex;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 0;
  top: -1px;
}
.h4-two {
  background-color: rgba(251, 255, 228, 1);
  height: 28px;
  width: 100px;
  position: relative;
}
. {
  height: 29px;
  width: 100.2px;
  font-family: "Noto Sans JP";
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: var(--black);
  display: flex;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 0;
  top: -1px;
}
. {
  height: 20px;
  width: 140.2px;
  font-family: "Noto Sans JP";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(51, 51, 51, 1);
  display: flex;
  align-items: center;
  text-align: center;
}
.div-forty-four {
  background-color: var(--white);
  margin-right: 40px;
  padding: 20px 20px 31.41px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div-forty-three {
  margin-bottom: 9px;
  padding: 0 25.29px 0 25.3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h4-three {
  background-color: rgba(251, 255, 228, 1);
  height: 28px;
  width: 199.41px;
  position: relative;
}
. {
  height: 29px;
  width: 199.61px;
  font-family: "Noto Sans JP";
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: var(--black);
  display: flex;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 0;
  top: -1px;
}
.h4-four {
  background-color: rgba(251, 255, 228, 1);
  height: 28px;
  width: 120px;
  position: relative;
}
. {
  height: 29px;
  width: 120.2px;
  font-family: "Noto Sans JP";
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: var(--black);
  display: flex;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 0;
  top: -1px;
}
.sst {
  height: 39.59px;
  width: 237.93px;
  font-family: "Noto Sans JP";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(51, 51, 51, 1);
  display: flex;
  align-items: center;
  text-align: center;
}
.div-forty-five {
  background-color: var(--white);
  padding: 20px 26.08px 59.41px 26.27px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h4-five {
  background-color: rgba(251, 255, 228, 1);
  margin-bottom: 9px;
  position: relative;
}
. {
  height: 39.59px;
  width: 237.65px;
  font-family: "Noto Sans JP";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(51, 51, 51, 1);
  display: flex;
  align-items: center;
  text-align: center;
}
.flex-wrapper-nine {
  padding: 0 0 0 165px;
  display: flex;
  align-items: flex-start;
}
.div-forty-six {
  background-color: var(--white);
  margin-right: 40px;
  padding: 20px 39.8px 79px 40px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
. {
  height: 29px;
  width: 140.2px;
  font-family: "Noto Sans JP";
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: var(--black);
  display: flex;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 0;
  top: -1px;
}
. {
  height: 20px;
  width: 210.2px;
  font-family: "Noto Sans JP";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(51, 51, 51, 1);
  display: flex;
  align-items: center;
  text-align: center;
}
.div-forty-eight {
  background-color: var(--white);
  padding: 20px 20px 51px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div-forty-seven {
  margin-bottom: 9px;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h4-six {
  background-color: rgba(251, 255, 228, 1);
  height: 28px;
  width: 200px;
  position: relative;
}
. {
  height: 29px;
  width: 200.2px;
  font-family: "Noto Sans JP";
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: var(--black);
  display: flex;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 0;
  top: -1px;
}
. {
  height: 20px;
  width: 84.07px;
  font-family: "Noto Sans JP";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(51, 51, 51, 1);
  display: flex;
  align-items: center;
  text-align: center;
}
.div-fifty-one {
  background-color: var(--white);
  padding: 0 10px 0 0;
  display: flex;
  align-items: flex-start;
}
.num-01-two {
  width: 374px;
  height: 187px;
}
.num-01-two:not(:last-of-type) {
  margin-right: 10px;
}
.section {
  margin-bottom: 80px;
  padding: 0 660px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div-fifty-two {
  position: absolute;
  left: 0;
  top: calc(50% - 174.63px / 2);
}
.h3-two {
  padding: 0 0 0.63px;
}
. {
  max-width: 606.08px;
  font-family: "Noto Sans JP";
  font-size: 15px;
  font-weight: 500;
  line-height: 29px;
  color: var(--black);
  letter-spacing: 1.8px;
}
.pseudo-eight {
  width: 51px;
  height: 22px;
  position: absolute;
  left: -71px;
  bottom: 75.82px;
}
.div-fifty-four {
  padding: 58.39px 176.5px 0 139.5px;
  position: absolute;
  left: 0;
  top: calc(50% - 106px / 2);
}
. {
  font-family: "Inter";
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  color: rgba(51, 51, 51, 1);
  position: absolute;
  left: 0;
  bottom: 126.39px;
}
.div-fifty-three {
  margin-bottom: 20px;
}
. {
  font-family: "Noto Sans JP";
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  color: rgba(51, 51, 51, 1);
  margin-top: 3.5px;
}
.pseudo-nine {
  width: 55px;
  height: 43px;
}
.div-fifty-seven {
  padding: 58.39px 168.5px 2px 124.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.div-fifty-five {
  margin-bottom: 20px;
  padding: 6px 166px 6px 16px;
  position: relative;
}
. {
  font-family: "Noto Sans JP";
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  color: rgba(51, 51, 51, 1);
}
.pseudo-ten {
  width: 57px;
  height: 53px;
  position: absolute;
  right: 0;
  top: -2.5px;
}
.div-fifty-six {
  margin-left: 16px;
  display: flex;
  align-items: flex-start;
}
. {
  font-family: "Noto Sans JP";
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  color: rgba(51, 51, 51, 1);
  margin-top: 8.5px;
}
.pseudo-eleven {
  width: 59px;
  height: 53px;
}
.p-six {
  padding: 0 0 0.39px;
  display: flex;
  align-items: flex-start;
  position: absolute;
  left: 0;
  top: -1px;
}
. {
  font-family: "Inter";
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  color: rgba(51, 51, 51, 1);
}
.section-two {
  background-size: 100% 100%;
  background-position: center;
  background-image: url("https://via.placeholder.com/1920x1229.75");
  margin-bottom: 32px;
  padding: 100px 560px 49px 540.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.flex-wrapper-ten {
  margin-bottom: 56px;
  display: flex;
  align-items: flex-start;
}
.div-fifty-eight {
  margin-top: 87.61px;
  padding: 0 0 0.75px;
  position: relative;
}
.pseudo-twelve {
  width: 51px;
  height: 22px;
  position: absolute;
  left: 596.13px;
  top: 20.88px;
}
.div-sixty-three {
  margin-bottom: 52px;
  margin-left: 19.5px;
  padding: 0 99.5px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div-sixty {
  padding: 3.22px 0;
  display: flex;
  align-items: flex-start;
}
.div-sixty:not(:last-of-type) {
  margin-bottom: 20px;
}
.voice-01 {
  width: 84px;
  height: 87px;
  margin-top: 40.28px;
}
.div-fifty-nine {
  background-size: 100% 100%;
  background-position: center;
  background-image: url("https://via.placeholder.com/513x163.56");
  padding: 19px 19.8px 20.59px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 473.2px;
  height: 123.97px;
  border: 2px solid var(--gold);
}
. {
  height: 26px;
  width: 269.67px;
  font-family: "Noto Sans JP";
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: rgba(51, 51, 51, 1);
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 9.19px;
}
.p-seven {
  margin-bottom: 9px;
  padding: 0 11.35px 0.78px 0;
  display: flex;
  align-items: flex-start;
}
. {
  max-width: 461.65px;
  font-family: "Noto Sans JP";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(51, 51, 51, 1);
}
. {
  height: 20px;
  width: 98.2px;
  font-family: "Noto Sans JP";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(51, 51, 51, 1);
  display: flex;
  align-items: center;
  text-align: right;
  margin-left: 375px;
}
.div-sixty-two {
  margin-bottom: 20px;
  padding: 13.02px 0 13.01px;
  display: flex;
  align-items: flex-start;
}
.div-sixty-one {
  background-size: 100% 100%;
  background-position: center;
  background-image: url("https://via.placeholder.com/513x143.97");
  padding: 19px 19.8px 20.59px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 473.2px;
  height: 104.38px;
  border: 2px solid var(--gold);
}
. {
  height: 26px;
  width: 270.2px;
  font-family: "Noto Sans JP";
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: rgba(51, 51, 51, 1);
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 9.19px;
}
.p-eight {
  margin-bottom: 9px;
  padding: 0 0 0.19px;
  display: flex;
  align-items: flex-start;
}
. {
  max-width: 473.12px;
  font-family: "Noto Sans JP";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(51, 51, 51, 1);
}
.voice-02 {
  width: 84px;
  height: 87px;
  margin-top: 30.48px;
}
. {
  height: 26px;
  width: 266.61px;
  font-family: "Noto Sans JP";
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: rgba(51, 51, 51, 1);
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 9.19px;
}
. {
  height: 26px;
  width: 324.2px;
  font-family: "Noto Sans JP";
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: rgba(51, 51, 51, 1);
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 9.19px;
}
. {
  height: 59.19px;
  width: 461.09px;
  font-family: "Noto Sans JP";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(51, 51, 51, 1);
  display: flex;
  align-items: center;
  margin-bottom: 9.59px;
}
.a-seven {
  margin-left: 379.52px;
  padding: 23px 0 0.39px;
  position: relative;
}
.divcontact {
  background-color: rgba(238, 238, 238, 1);
  margin-bottom: 32px;
  padding: 86px 748.64px 80px 748.83px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
. {
  height: 32px;
  width: 201.81px;
  font-family: "Inter";
  font-size: 32px;
  font-weight: 500;
  line-height: 45px;
  color: var(--black);
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 34.8px;
  letter-spacing: 1.6px;
}
. {
  height: 40.59px;
  width: 358.53px;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  color: var(--black);
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 68.59px;
  letter-spacing: 0.98px;
}
.a-eight {
  background-color: rgba(24, 147, 79, 1);
  margin-bottom: 39px;
  padding: 16px 33.28px 16px 34px;
  display: flex;
  align-items: flex-start;
}
. {
  font-family: "Lato";
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: var(--white);
  text-align: center;
}
.a-nine {
  background-color: var(--orange);
  padding: 16px 33.28px 16px 34px;
  display: flex;
  align-items: flex-start;
}
.div-seventy-one {
  background-color: rgba(24, 130, 7, 0.08);
  padding: 100px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.flex-wrapper-eleven {
  margin-bottom: 96px;
  padding: 0 0 0 540.5px;
  display: flex;
  align-items: flex-start;
}
.div-sixty-four {
  margin-top: 41.41px;
  padding: 0 42.88px 0.75px 0;
  position: relative;
}
.pseudo-thirteen {
  width: 51px;
  height: 22px;
  position: absolute;
  left: 453.88px;
  top: 20.88px;
}
.p-nine {
  background-color: rgba(255, 254, 254, 1);
  margin-bottom: 533.53px;
  margin-left: 660px;
  border-radius: 12px;
  padding: 19px 19.8px 20.39px 20px;
  display: flex;
  align-items: flex-start;
}
. {
  max-width: 560.2px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  color: var(--black);
}
.div-sixty-five {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}
.l {
  width: calc(100% - 1344px);
  height: 552.95px;
}
.div-seventy {
  background-color: rgba(255, 254, 254, 1);
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: calc(50% - 560px / 2);
  top: -470.53px;
}
.div-sixty-seven {
  margin-bottom: 67px;
  padding: 68px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.div-sixty-six {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}
.div-sixty-six:not(:last-of-type) {
  margin-bottom: 40px;
}
.p-ten {
  margin-bottom: 10px;
  position: relative;
}
. {
  height: 29px;
  width: 80.2px;
  font-family: "Noto Sans JP";
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(51, 51, 51, 1);
  display: flex;
  align-items: center;
  position: absolute;
  right: 13.8px;
  top: -1px;
}
.p-eleven {
  margin-left: 20px;
  position: relative;
}
.p-eleven:not(:last-of-type) {
  margin-bottom: 10px;
}
. {
  height: 46.39px;
  width: 528.22px;
  font-family: "Noto Sans JP";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(51, 51, 51, 1);
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: -1px;
}
. {
  height: 24px;
  width: 175.89px;
  font-family: "Noto Sans JP";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(51, 51, 51, 1);
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: -1px;
}
. {
  height: 24px;
  width: 272.22px;
  font-family: "Noto Sans JP";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(51, 51, 51, 1);
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: -1px;
}
. {
  height: 24px;
  width: 511.89px;
  font-family: "Noto Sans JP";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(51, 51, 51, 1);
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: -1px;
}
. {
  height: 24px;
  width: 192.22px;
  font-family: "Noto Sans JP";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(51, 51, 51, 1);
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: -1px;
}
. {
  height: 29px;
  width: 139.61px;
  font-family: "Noto Sans JP";
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(51, 51, 51, 1);
  display: flex;
  align-items: center;
  position: absolute;
  right: -0.2px;
  top: -1px;
}
.p-twelve {
  margin-left: 20px;
  position: relative;
}
. {
  height: 24px;
  width: 415.73px;
  font-family: "Noto Sans JP";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(51, 51, 51, 1);
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: -1px;
}
. {
  height: 29px;
  width: 557.61px;
  font-family: "Noto Sans JP";
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(51, 51, 51, 1);
  display: flex;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 1.3px;
  top: -1px;
}
.div-sixty-nine {
  padding: 23px 5.01px 0.8px;
  position: relative;
}
.div-sixty-eight {
  padding: 0 0.02px 0 0;
  display: flex;
  align-items: flex-start;
  position: absolute;
  left: 0;
  top: 0;
}
.phone {
  font-family: "Material Icons";
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(24, 147, 79, 1);
  margin-right: 20px;
}
. {
  font-family: "Noto Sans JP";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(24, 147, 79, 1);
  text-align: center;
}
.num-099-295-6883 {
  font-family: "Lato";
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
  color: rgba(51, 51, 51, 1);
  text-align: center;
  position: relative;
}
.footer {
  background-color: rgba(255, 254, 254, 1);
  padding: 41px 607px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div-seventy-three {
  margin-bottom: 12px;
  display: flex;
  align-items: flex-start;
}
.div-seventy-two {
  padding: 0 0 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 236.59px;
}
.footer-logo {
  width: 300px;
  height: 191px;
  margin-bottom: 11px;
}
.p-thirteen {
  padding: 0 0 0.59px;
  display: flex;
  align-items: flex-start;
}
.num-320-1-two {
  max-width: 128px;
  font-family: "Noto Sans JP";
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  color: rgba(51, 51, 51, 1);
  text-align: center;
}
.p-fourteen {
  padding: 0 0.31px 0.59px 0;
  display: flex;
  align-items: flex-start;
}
.num-21523-1 {
  max-width: 141px;
  font-family: "Noto Sans JP";
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  color: rgba(51, 51, 51, 1);
  text-align: center;
}
.nav-two {
  margin-bottom: 31px;
  padding: 3.5px 88.98px 0.5px 89.17px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.flex-wrapper-twelve {
  margin-bottom: 13px;
  display: flex;
  align-items: flex-start;
}
. {
  height: 15px;
  width: 108.64px;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: var(--black);
  display: flex;
  align-items: center;
  margin-right: 19.8px;
  letter-spacing: 1.5px;
}
. {
  height: 15px;
  width: 66.11px;
  font-family: "Inter";
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  color: var(--black);
  display: flex;
  align-items: center;
  margin-right: 19.8px;
  letter-spacing: 1.5px;
}
. {
  height: 15px;
  width: 81.84px;
  font-family: "Inter";
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  color: var(--black);
  display: flex;
  align-items: center;
  margin-right: 19.8px;
  letter-spacing: 1.5px;
}
. {
  height: 15px;
  width: 96.09px;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: var(--black);
  display: flex;
  align-items: center;
  margin-right: 19.8px;
  letter-spacing: 1.5px;
}
. {
  height: 15px;
  width: 95.97px;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: var(--black);
  display: flex;
  align-items: center;
  letter-spacing: 1.5px;
}
.flex-wrapper-thirteen {
  padding: 0 0 0 71.64px;
  display: flex;
  align-items: flex-start;
}
. {
  height: 21px;
  width: 213.02px;
  font-family: "Noto Sans JP";
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  color: var(--black);
  display: flex;
  align-items: center;
  margin-right: 18.4px;
  letter-spacing: 1.5px;
}
. {
  height: 21px;
  width: 163.35px;
  font-family: "Noto Sans JP";
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  color: var(--black);
  display: flex;
  align-items: center;
  letter-spacing: 1.5px;
}
.p-fifteen {
  padding: 0 8.63px 10px 0;
  display: flex;
  align-items: flex-start;
}
.num-2022 {
  font-family: "Inter";
  font-size: 9px;
  font-weight: 500;
  line-height: 14px;
  color: var(--dark-gray);
  letter-spacing: 1px;
}
. {
  height: 368px;
  width: 16.2px;
  font-family: "Inter";
  font-size: 11px;
  font-weight: 500;
  line-height: 31px;
  color: var(--black);
  display: flex;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 17.44px;
  top: 356px;
  letter-spacing: 2.4px;
}
. {
  height: 276px;
  width: 16.2px;
  font-family: "Inter";
  font-size: 11px;
  font-weight: 500;
  line-height: 31px;
  color: var(--black);
  display: flex;
  align-items: center;
  text-align: center;
  position: absolute;
  right: 16.36px;
  top: 402px;
  letter-spacing: 2.4px;
}
.a-ten {
  background-color: var(--white);
  border-radius: 4px;
  padding: 5px 12px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
  display: flex;
  align-items: center;
  position: absolute;
  left: 20px;
  top: 1032px;
}
.banner-png {
  width: 98px;
  height: 18px;
}
